<! DOCTYPE html>

<html>
  <head>
      <title>ASCII Chan</title>
  </head>
  <body>
      <h1>/ascii!/</h1>

      <div class="error">{{error}}</div>
    </br>

  <form method="post">
      <label>
        <div>Title</div>
        <input type="text" name="title" value="{{title}}">
      </label>

      <label>
        <div>Art</div>
        <textarea name="art">{{art}}</textarea>
      </label>
    </br>
      <input type="submit">
  </form>

  <hr>

  {% for art in arts %}
    <div class="art">
      <div class="art-title">{{art.title}}</div>
      <pre class="art-body">{{art.art}}</pre>
    </div>
  {% endfor%}



  </body>
</html>
